{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    // "node",
    // "promise",
    "react"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules":{
    // 0 - "off"; 1 - "warn"; 2 - "error"
    // Inspired by https://github.com/standard/eslint-config-standard/blob/master/eslintrc.json
    "array-bracket-spacing": ["warn", "never"],
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "block-scoped-var": "warn",
    "block-spacing": "warn",
    "brace-style": "warn",
    "camelcase": "warn",
    "comma-dangle": ["warn", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "comma-style": ["warn", "last"],
    "computed-property-spacing": ["warn", "never"],
    "constructor-super": "warn",
    "curly": ["warn", "multi-line"],
    "eol-last": ["warn", "always"],
    "eqeqeq": "warn",
    "func-call-spacing": ["warn", "never"],
    "generator-star-spacing": ["warn", { "before": true, "after": true }],
    "handle-callback-err": ["warn", "^(err|error)$" ],
    "indent": ["warn", 2, {"SwitchCase": 1}],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "linebreak-style": ["warn", "windows"],
    "lines-between-class-members": ["warn", "always"],
    "new-cap": ["warn", { "newIsCap": true, "capIsNew": false }],
    "new-parens": "warn",
    "no-array-constructor": "warn",
    "no-alert": "warn",
    "no-caller": "warn",
    "no-class-assign": "warn",
    "no-compare-neg-zero": "warn",
    "no-cond-assign": "warn",
    "no-const-assign": "warn",
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "no-constant-condition": ["warn", { "checkLoops": false }],
    "no-control-regex": "warn",
    "no-debugger": "warn",
    "no-delete-var": "warn",
    "no-dupe-args": "warn",
    "no-dupe-class-members": "warn",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "warn",
    "no-empty-character-class": "warn",
    "no-empty-pattern": "warn",
    "no-eval": "warn",
    "no-ex-assign": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": ["warn", "functions"],
    "no-fallthrough": "warn",
    "no-floating-decimal": "warn",
    "no-func-assign": "warn",
    "no-global-assign": "warn",
    "no-empty-function": "warn",
    "no-empty": "warn",
    "no-extra-semi": "warn",
    "no-implied-eval": "warn",
    "no-inner-declarations": ["warn", "functions"],
    "no-irregular-whitespace": "warn",
    "no-iterator": "warn",
    "no-label-var": "warn",
    "no-lone-blocks": "warn",
    "no-mixed-operators": ["warn", {
      "groups": [
        ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
        ["&&", "||"],
        ["in", "instanceof"]
      ],
      "allowSamePrecedence": true
    }],
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 2, "maxEOF": 1 }],
    "no-negated-in-lhs": "warn",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-object": "warn",
    "no-new-require": "warn",
    "no-new-symbol": "warn",
    "no-new-wrappers": "warn",
    "no-obj-calls": "warn",
    "no-octal": "warn",
    "no-octal-escape": "warn",
    "no-path-concat": "warn",
    "no-proto": "warn",
    "no-redeclare": "warn",
    "no-regex-spaces": "warn",
    "no-return-assign": ["warn", "except-parens"],
    "no-return-await": "warn",
    "no-self-assign": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-shadow-restricted-names": "warn",
    "no-sparse-arrays": "warn",
    "no-tabs": "warn",
    "no-template-curly-in-string": "warn",
    "no-this-before-super": "warn",
    "no-throw-literal": "warn",
    "no-trailing-spaces": "warn",
    "no-undef": "warn",
    "no-undef-init": "warn",
    "no-unexpected-multiline": "warn",
    "no-unmodified-loop-condition": "warn",
    "no-unneeded-ternary": ["warn", { "defaultAssignment": false }],
    "no-unreachable": "warn",
    "no-unsafe-finally": "warn",
    "no-unsafe-negation": "warn",
    "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true, "allowTaggedTemplates": true }],
    "no-unused-vars": ["warn", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "no-use-before-define": ["warn", { "functions": false, "classes": false, "variables": false }],
    "no-useless-call": "warn",
    "no-useless-computed-key": "warn",
    "no-useless-constructor": "warn",
    "no-useless-escape": "warn",
    "no-useless-rename": "warn",
    "no-useless-return": "warn",
    "no-whitespace-before-property": "warn",
    "no-with": "warn",
    "object-curly-spacing": ["warn", "always"],
    "object-property-newline": ["warn", { "allowMultiplePropertiesPerLine": true }],
    "one-var": ["warn", { "initialized": "never" }],
    "operator-linebreak": ["warn", "after", { "overrides": { "?": "before", ":": "before" } }],
    "padded-blocks": ["warn", { "blocks": "never", "switches": "never", "classes": "never" }],
    "prefer-const": "warn",
    "prefer-promise-reject-errors": "warn",
    "quote-props": ["warn", "as-needed"],
    "quotes": ["warn", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "rest-spread-spacing": ["warn", "never"],
    "semi": ["warn", "never"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "space-before-blocks": ["warn", "always"],
    "space-before-function-paren": ["warn", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": "warn",
    "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
    "spaced-comment": ["warn", "always", {
      "line": { "markers": ["*package", "!", "/", ",", "="] },
      "block": { "balanced": true, "markers": ["*package", "!", ",", ":", "::", "flow-include"], "exceptions": ["*"] }
    }],
    // "sort-imports": ["warn", { "ignoreCase": true }],
    "sort-keys": "warn",
    "sort-vars": "warn",
    "strict": ["warn", "global"],
    "symbol-description": "warn",
    "template-curly-spacing": ["warn", "never"],
    "template-tag-spacing": ["warn", "never"],
    "unicode-bom": ["warn", "never"],
    "use-isnan": "warn",
    "valid-typeof": ["warn", { "requireStringLiterals": true }],
    "vars-on-top": "warn",
    "wrap-iife": ["warn", "any", { "functionPrototypeMethods": true }],
    "yield-star-spacing": ["warn", "both"],
    "yoda": ["warn", "never"],

    // Imports
    "import/export": "warn",
    "import/first": "warn",
    "import/no-duplicates": "warn",
    "import/no-named-default": "warn",
    "import/no-webpack-loader-syntax": "warn",

    // Node
    // "node/no-deprecated-api": "warn",
    // "node/process-exit-as-throw": "warn",
    // Promise
    // "promise/param-names": "warn",

    // React
    "react/no-access-state-in-setstate": "warn",
    "react/no-array-index-key": "warn",
    "react/no-danger": "warn",
    "react/no-deprecated": "warn",
    "react/no-did-mount-set-state": "warn",
    "react/no-did-update-set-state": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/no-find-dom-node": "warn",
    "react/no-is-mounted": "warn",
    "react/no-multi-comp": "warn",
    "react/no-redundant-should-component-update": "warn",
    "react/no-render-return-value": "warn",
    // "react/no-set-state": "warn",
    "react/no-typos": "warn",
    "react/no-string-refs": "warn",
    "react/no-this-in-sfc": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unknown-property": "warn",
    "react/no-unsafe": "warn",
    "react/no-unused-state": "warn",
    "react/no-will-update-set-state": "warn",
    "react/prefer-es6-class": "warn",
    "react/prefer-stateless-function": ["warn", { "ignorePureComponents": true }],
    // "react/prop-types": "warn",
    "react/react-in-jsx-scope": "off",
    // "react/require-default-props": "warn",
    // "react/require-optimization": "warn",
    "react/require-render-return": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "react/sort-prop-types": "warn",
    // "react/state-in-constructor": "warn",
    // "react/static-property-placement": "warn",
    "react/style-prop-object": "warn",
    "react/void-dom-elements-no-children": "warn",

    // JSX
    "react/jsx-boolean-value": ["warn", "never"],
    "react/jsx-child-element-spacing": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-curly-newline": "warn",
    "react/jsx-curly-spacing": ["warn", "never"],
    "react/jsx-equals-spacing": ["warn", "never"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".jsx", "tsx"] }],
    "react/jsx-first-prop-new-line": ["warn", "multiline-multiprop"],
    "react/jsx-handler-names": "warn",
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", "first"],
    "react/jsx-key": "warn",
    "react/jsx-max-props-per-line": ["warn", { "maximum": 3 }],
    // "react/jsx-no-bind": "warn",
    "react/jsx-no-comment-textnodes": "warn",
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-no-undef": "warn",
    "react/jsx-one-expression-per-line": ["warn", { "allow": "single-child" }],
    "react/jsx-curly-brace-presence": ["warn", "never"],
    "react/jsx-fragments": ["warn", "syntax"],
    "react/jsx-pascal-case": "warn",
    "react/jsx-props-no-multi-spaces": "warn",
    "react/jsx-sort-default-props": "warn",
    "react/jsx-sort-props": ["warn", { "callbacksLast": true, "shorthandFirst": true, "noSortAlphabetically" : true, "reservedFirst": true }],
    "react/jsx-space-before-closing": "warn",
    "react/jsx-uses-react": "off",
    "react/jsx-uses-vars": "warn",

    // TypeScript
    "@typescript-eslint/adjacent-overload-signatures": "warn",
    "@typescript-eslint/array-type": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/naming-convention": ["warn", { "selector": "variableLike", "format": ["camelCase", "PascalCase"] }],
    // "@typescript-eslint/class-name-casing": "warn",
    // "@typescript-eslint/explicit-function-return-type": "warn",
    // "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/indent": ["warn", 2, {"SwitchCase": 1}],
    // "@typescript-eslint/interface-name-prefix": "warn",
    "@typescript-eslint/member-delimiter-style": "warn",
    "@typescript-eslint/no-array-constructor": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/no-misused-new": "warn",
    "@typescript-eslint/no-namespace": "warn",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-parameter-properties": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    // "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/prefer-namespace-keyword": "warn",
    "@typescript-eslint/triple-slash-reference": "warn",
    "@typescript-eslint/type-annotation-spacing": "warn"
  }
}
